@model AspNetUser

<div class="account-form">

    <h2>Account Details</h2>

    <form asp-controller="Account" asp-action="UpdateDetails" class="load-partial" attr-partial="accountContainer" method="post">

        <div class="container-input">
            <div class="input">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" />
            </div>
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="container-input">
            <div class="input">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
            </div>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="container-input">
            <div class="input">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
            </div>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="container-center">
            <button type="submit">Update</button>
        </div>

    </form>
</div>

