
@{
    ViewData["Title"] = "Account";
}


@CurrentUser.Details(User.UserID<int>()).UserName<br />
@CurrentUser.Details(User.UserID<int>()).Name<br />
@CurrentUser.Details(User.UserID<int>()).Email<br />
@CurrentUser.Details(User.UserID<int>()).id<br />

<a asp-controller="Account" asp-action="ProfileImage">Update Profile Image</a> <br />
<a asp-controller="Account" asp-action="Friends">Friends</a> <br />
<a asp-controller="Account" asp-action="LogOut">Log Out</a>

