@model AspNetUser

@{
    ViewData["Title"] = "Account";
}


@Model.UserName<br />
@Model.Name<br />
@Model.Email<br />
@Model.id<br />

<a asp-controller="Account" asp-action="ProfileImage">Update Profile Image</a>
<br />
<a asp-controller="Account" asp-action="Friends">Friends</a>
<br />
<a asp-controller="Account" asp-action="LogOut">Log Out</a>

