<div class="account-form">

    <h2>Profile Image</h2>

    <div id="BtnUpload" class="container-center">
        <div class="file-input">
            <label for="ProfilePicture_LoadImage">Select Image <i class="fas fa-image btn-icon"></i></label>
            <input id="ProfilePicture_LoadImage" name="LoadImage" type="file" accept="image/*" />
        </div>
    </div>

    <div class="container-center upload-reveal">
        <div>
            <canvas id="Image" class="image-profile-editor" />
        </div>
    </div>

    <div class="container-center upload-reveal">
        <div class="container-flex">
            <div>
                <form id="ProfileImageForm" asp-controller="Account" asp-action="UploadProfileImage" method="post" enctype="multipart/form-data">
                    <button id="CropImage" type="button" class="button">Use Selection <i class="fas fa-check btn-icon"></i></button>
                </form>
            </div>
            <div>
                <button load="/Account/ProfileImage" partial="accountContainer" attr-callback="SetupCanvas" type="button" class="button">Start Over <i class="fas fa-undo btn-icon"></i></button>
            </div>
        </div>
    </div>
</div>
