@model LocationCreate

@{
    ViewData["Title"] = "Create Location";
}

<div class="content-sign-in">
    <h2>@ViewData["Title"]</h2>

    <form asp-controller="Warehouse" asp-action="CreateLocation" method="post">

        <div class="container-input">
            <div class="input">
                <label asp-for="LocationName"></label>
                <input asp-for="LocationName" />
            </div>
            <span asp-validation-for="LocationName"></span>
        </div>

        <div class="container-input">
            <div class="input">
                <label asp-for="LocationDescription"></label>
                <input asp-for="LocationDescription" />
            </div>
            <span asp-validation-for="LocationDescription"></span>
        </div>

        <div class="container-center">
            <button type="submit">Create</button>
        </div>
        
    </form>
</div>