@model LocationShareView

@{
    ViewData["Title"] = "Share Location";
}

<div class="content-sign-in">
    <h2>@ViewData["Title"]</h2>

    <form asp-controller="Warehouse" asp-action="ShareLocation" method="post">

        <div class="container-input">
            <div class="input">
                <label asp-for="SharedLocationID"></label>
                <select asp-for="SharedLocationID" asp-items="@(new SelectList(Model.Locations, "LocationID", "LocationName", Model.SharedLocationID))">
                    <option disabled selected>Please Select</option>
                </select>
            </div>
            <span asp-validation-for="SharedLocationID"></span>
        </div>

        <div class="container-input">
            <div class="input">
                <label asp-for="SharedUserID"></label>
                <select asp-for="SharedUserID" asp-items="@(new SelectList(Model.Friends, "Id", "ListName"))">
                    <option disabled selected>Please Select</option>
                </select>
            </div>
            <span asp-validation-for="SharedUserID"></span>
        </div>

        <div class="container-center">
            <button type="submit">Share</button>
        </div>

    </form>
</div>