@model StoreView

@{
    ViewData["Title"] = Model.StoreName;
}

<h2>@Model.StoreName</h2>

<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item.ItemName (Qty. @item.Quantity)</li>
    }
</ul>
