@model StoreView

@{
    ViewData["Title"] = Model.StoreName;
}

<h2>@Model.StoreName</h2>

@if (Model.StoreOwner)
{       
    <form asp-controller="Warehouse" asp-action="DeleteStore" method="post">
        <input asp-for="LocationID" type="hidden" />
        <input asp-for="StoreID" type="hidden" />
        <button type="submit">Delete Store</button>
    </form>
}

<h3>Items</h3>

<ul>
    @foreach (var item in Model.Items.Where(i => i.Quantity > 0))
    {
        <partial name="ItemListView" model="item" />
    }
</ul>

<h3>Past Items</h3>

<ul>
    @foreach (var item in Model.Items.Where(i => i.Quantity < 1))
    {
        <partial name="ItemListView" model="item" />
    }
</ul>