@model List<ShoppingListView>

@{
    ViewData["Title"] = "Shopping List";
}

<h2>Shopping List</h2>

<ul>
    @foreach (var listItem in Model)
    {
        <partial name="ShoppingListItem" model="listItem" />
    }
</ul>